/* =======================================================
*
* 2018/11/26
* Kohimoto Edit
* https://kohimoto.com
*
* ======================================================= */
@charset "utf-8";
/* =======================================================
* font
* ======================================================= */
@font-face {
  font-family: "Colfax";
  src: url("/fonts/Colfax-Medium.woff") format("woff"),
       url("/fonts/Colfax-Regular.woff") format("woff");
}
$font_koz: kozuka-mincho-pr6n, serif;
$font_ryu: Ryumin Regular KL;
$font_zen: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$gray_color: #646464;
/* =======================================================
* common
* ======================================================= */
html {
  font-size: 20px;
}
body {
  font-family: $font_koz;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: $font_ryu;
  font-size: 2rem;
  line-height: 1;
  text-align: initial;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative;
  span {
    color: $gray_color;
    font-size: 0.8rem;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  &::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 50%;
    display: block;
    width: 1px;
    height: 40px;
    margin: auto;
    background: $gray_color;
  }
}
header {
  .navbar-default {
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 100%;
  }
  .navbar-default.sticky {
    transform: translateY(0);
  }
  .logo-tag {
    span {
      font-size: 0.60rem;
    }
  }
  .menu {
    font-size: 0.6rem;
    font-family: $font_zen;
    a {
      color: $gray_color;
    }
  }
}
.wrap {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
.main-txt {
  width: 200px;
  float: left;
}
.main-box {
  float: left;
  width: calc(100% - 200px);
}
.main-img {
  img{
    width: 100%;
  }
}

#main{
  height: calc(100vh - 15px);
  overflow: hidden;
  position:relative;
  .main-txt {
    width: 200px;
    float: left;
    height: calc(100vh - 15px);
     h1 {
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-size: 2rem;
      padding: 0 50px 110px;
      position: absolute;
      top: 16%;
     }
    p {
      font-size: 0.6rem;
      font-family: $font_zen;
      color: $gray_color;
      position: absolute;
      bottom: 10%;
      letter-spacing: 0;
      padding: 0 44px;
    }
  }
  .main-box {
    img {
      width: 100%;
      height: calc(100vh - 15px);
    }
  }
  .scroll {
    position: absolute;
    bottom:20px;
    left:50%;
  }
}
#mission {
  padding: 10rem;
  overflow:hidden;
  .main-box {
    h4 {
      font-size: 0.7rem;
    }
    p {
      font-size: 0.6rem;
    }
  }
}
