/* =======================================================
*
* 2018/11/26
* Kohimoto Edit
* https://kohimoto.com
*
* ======================================================= */
@charset "utf-8";
/* =======================================================
* common
* ======================================================= */
.wrap {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
#top-img {
  height: 55vh;
  width: 100%;
  padding-top: 84px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.other{
  .navbar {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
  }
}
