@charset "UTF-8";
/* =======================================================
*
* 2018/11/26
* Kohimoto Edit
* https://kohimoto.com
*
* ======================================================= */
/* =======================================================
* font
* ======================================================= */
@font-face {
  font-family: "Colfax";
  src: url("/fonts/Colfax-Medium.woff") format("woff"), url("/fonts/Colfax-Regular.woff") format("woff"); }

/* =======================================================
* common
* ======================================================= */
html {
  font-size: 20px; }

body {
  font-family: kozuka-mincho-pr6n, serif;
  font-weight: 400;
  font-style: normal; }

h2 {
  font-family: Ryumin Regular KL;
  font-size: 2rem;
  line-height: 1;
  text-align: initial;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative; }
  h2 span {
    color: #646464;
    font-size: 0.8rem;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; }
  h2::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    display: block;
    width: 1px;
    height: 60px;
    margin: auto;
    background: #646464; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0; }

h4 {
  font-weight: normal; }

header .container {
  line-height: 1; }

header .navbar-default {
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  z-index: 3; }

header .navbar-default.sticky {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

header .logo-tag h1 {
  vertical-align: middle; }

header .logo-tag span {
  font-size: 0.60rem;
  font-family: "Colfax";
  color: #646464; }

header .menu {
  font-size: 0.6rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; }
  header .menu a {
    color: #646464;
    line-height: 1; }

header.sticky_point .navbar-default {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 2; }

.wrap {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  padding: 15px; }

.main-txt {
  width: 200px;
  float: left; }

.main-box {
  float: left;
  width: calc(100% - 200px); }

.main-img img {
  width: 100%; }

#main {
  height: calc(100vh - 15px);
  overflow: hidden;
  position: relative; }
  #main .main-txt {
    width: 200px;
    float: left;
    height: calc(100vh - 15px); }
    #main .main-txt h1 {
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-size: 2rem;
      padding: 180px 50px; }
    #main .main-txt p {
      font-size: 0.6rem;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      color: #646464;
      letter-spacing: 0;
      padding: 0 44px; }
  #main .main-box img {
    width: 100%;
    height: calc(100vh - 15px); }
  #main .scroll {
    position: absolute;
    bottom: 20px;
    left: 50%; }

#mission {
  padding: 10rem 0 8.5rem;
  overflow: hidden; }
  #mission .main-box {
    text-align: left; }
    #mission .main-box h4 {
      font-size: 0.7rem;
      padding-bottom: 2.5rem; }
    #mission .main-box p {
      font-size: 0.6rem;
      line-height: 3; }

#products .container {
  padding: 8.5rem 0; }
  #products .container .main-box {
    text-align: left;
    overflow: hidden; }
    #products .container .main-box h4 {
      font-size: 0.7rem;
      padding-bottom: 2.5rem; }
    #products .container .main-box p {
      font-size: 0.6rem;
      line-height: 3; }
    #products .container .main-box .box {
      border: 1px solid #000;
      width: 48%;
      float: left;
      margin-left: 4%;
      margin-top: 1rem; }
      #products .container .main-box .box:first-of-type {
        margin-left: 0; }
      #products .container .main-box .box h4 {
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #000; }
      #products .container .main-box .box ul {
        padding: 1rem;
        text-align: center;
        overflow: hidden; }
        #products .container .main-box .box ul li {
          font-size: 0.6rem;
          line-height: 2.6;
          width: 50%;
          float: left; }

#products .sub-container {
  padding: 0 8.5rem; }
  #products .sub-container .inner-txt {
    font-family: kozuka-mincho-pr6n, serif;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: left;
    float: right; }
    #products .sub-container .inner-txt h3 {
      font-size: 2.5rem;
      padding: 2% 15% 0 2%;
      line-height: 1.3; }
    #products .sub-container .inner-txt span {
      border-right: 1px solid;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      height: 215px;
      display: block;
      margin: 2% 0; }
      #products .sub-container .inner-txt span.second {
        height: 315px; }
    #products .sub-container .inner-txt p {
      font-size: 0.6rem;
      padding: 2% 5% 0 0;
      line-height: 2.5; }
  #products .sub-container .gomu {
    position: relative;
    height: 2600px; }
    #products .sub-container .gomu .detail {
      position: absolute;
      width: 640px; }
      #products .sub-container .gomu .detail.a01 {
        right: 380px; }
        #products .sub-container .gomu .detail.a01 .txt {
          padding-top: 200px; }
      #products .sub-container .gomu .detail.a02 {
        top: 440px;
        right: 0px; }
        #products .sub-container .gomu .detail.a02 .txt {
          padding-top: 80px; }
      #products .sub-container .gomu .detail.a03 {
        top: 720px;
        left: 0; }
        #products .sub-container .gomu .detail.a03 .txt {
          padding-top: 160px; }
      #products .sub-container .gomu .detail.a04 {
        top: 1040px;
        right: 0; }
        #products .sub-container .gomu .detail.a04 .txt {
          padding-top: 160px; }
      #products .sub-container .gomu .detail.a05 {
        top: 1300px;
        left: 0; }
        #products .sub-container .gomu .detail.a05 .txt {
          padding-top: 160px; }
      #products .sub-container .gomu .detail.a06 {
        top: 1560px;
        right: 0; }
        #products .sub-container .gomu .detail.a06 .txt {
          padding-top: 160px; }
      #products .sub-container .gomu .detail.a07 {
        top: 2000px;
        left: 200px; }
        #products .sub-container .gomu .detail.a07 .txt {
          padding-top: 160px; }
      #products .sub-container .gomu .detail .img {
        width: 371px;
        float: left; }
      #products .sub-container .gomu .detail .txt {
        width: calc(100% - 371px);
        float: left;
        text-align: left; }
        #products .sub-container .gomu .detail .txt h4 {
          font-size: 0.9rem;
          padding-bottom: 0.2rem; }
        #products .sub-container .gomu .detail .txt p {
          font-size: 0.6rem;
          line-height: 2.6; }
  #products .sub-container .shinto {
    position: relative;
    height: 1000px; }
    #products .sub-container .shinto .detail {
      position: absolute;
      width: 640px; }
      #products .sub-container .shinto .detail.a01 {
        top: 100px;
        right: 380px; }
      #products .sub-container .shinto .detail .txt {
        text-align: left; }
        #products .sub-container .shinto .detail .txt h4 {
          font-size: 0.9rem;
          padding-bottom: 0.2rem; }
        #products .sub-container .shinto .detail .txt p {
          font-size: 0.6rem;
          line-height: 2.6; }

#news .container {
  padding: 8.5rem 0; }
  #news .container .main-box .date-box {
    overflow: hidden;
    font-size: 0.6rem;
    text-align: left;
    padding: 0.5rem; }
    #news .container .main-box .date-box .date {
      float: left;
      width: 5rem; }
    #news .container .main-box .date-box .txt {
      float: left; }

.other_page {
  margin-top: 60px; }
  .other_page #main {
    height: auto; }
    .other_page #main img {
      width: 100%; }

#technology {
  padding: 10rem 0 8.5rem;
  overflow: hidden; }
  #technology h2::after {
    top: 100%; }
  #technology .main-box {
    text-align: left; }
    #technology .main-box h4 {
      font-size: 0.7rem;
      padding-bottom: 2.5rem; }
    #technology .main-box p {
      font-size: 0.6rem;
      line-height: 3; }

.img-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 0;
  margin-bottom: 105px; }
  .img-box .inner-img {
    line-height: 1; }
    .img-box .inner-img img {
      width: 100%;
      line-height: 1;
      vertical-align: bottom;
      display: block; }
  .img-box .inner-txt {
    font-family: kozuka-mincho-pr6n, serif;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: left; }
    .img-box .inner-txt h3 {
      font-size: 2.5rem;
      padding: 2% 15% 0 2%;
      line-height: 1.3; }
    .img-box .inner-txt p {
      font-size: 0.6rem;
      padding: 2% 5% 0 0;
      line-height: 2.5; }
    .img-box .inner-txt span {
      border-right: 1px solid;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      height: 215px;
      display: block;
      margin: 2% 0; }

.mov-box {
  margin-bottom: 105px; }
  .mov-box img {
    width: 100%; }
  .mov-box.last-box {
    margin-bottom: 242px; }
