@charset "UTF-8";
/* =======================================================
*
* 2018/11/26
* Kohimoto Edit
* https://kohimoto.com
*
* ======================================================= */
/* =======================================================
* font
* ======================================================= */
@font-face {
  font-family: "Colfax";
  src: url("/fonts/Colfax-Medium.woff") format("woff"), url("/fonts/Colfax-Regular.woff") format("woff"); }

/* =======================================================
* common
* ======================================================= */
html {
  font-size: 20px; }

body {
  font-family: kozuka-mincho-pr6n, serif;
  font-weight: 400;
  font-style: normal; }

h2 {
  font-family: Ryumin Regular KL;
  font-size: 2rem;
  line-height: 1;
  text-align: initial;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: relative; }
  h2 span {
    color: #646464;
    font-size: 0.8rem;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; }
  h2::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 50%;
    display: block;
    width: 1px;
    height: 40px;
    margin: auto;
    background: #646464; }

header .navbar-default {
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%; }

header .navbar-default.sticky {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

header .logo-tag span {
  font-size: 0.60rem; }

.wrap {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  padding: 15px; }

.main-txt {
  width: 200px;
  float: left; }

.main-box {
  float: left;
  width: calc(100% - 200px); }

.main-img img {
  width: 100%; }

#main {
  height: calc(100vh - 15px);
  overflow: hidden;
  position: relative; }
  #main .main-txt {
    width: 200px;
    float: left;
    height: calc(100vh - 15px); }
    #main .main-txt h1 {
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-size: 2rem;
      padding: 0 50px 110px;
      position: absolute;
      top: 16%; }
    #main .main-txt p {
      font-size: 0.6rem;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      color: #646464;
      position: absolute;
      bottom: 10%;
      letter-spacing: 0;
      padding: 0 44px; }
  #main .main-box img {
    width: 100%;
    height: calc(100vh - 15px); }
  #main .scroll {
    position: absolute;
    bottom: 20px;
    left: 50%; }

#mission {
  padding: 10rem;
  overflow: hidden; }
  #mission .main-box h4 {
    font-size: 0.7rem; }
  #mission .main-box p {
    font-size: 0.6rem; }
