/* =======================================================
*
* 2018/11/26
* Kohimoto Edit
* https://kohimoto.com
*
* ======================================================= */
/* =======================================================
* font
* ======================================================= */
@font-face {
  font-family: "Colfax";
  src: url("/fonts/Colfax-Medium.woff") format("woff"), url("/fonts/Colfax-Regular.woff") format("woff"); }

/* =======================================================
* common
* ======================================================= */
body {
  font-family: kozuka-mincho-pr6n, serif;
  font-weight: 400;
  font-style: normal; }

h2 {
  font-family: Ryumin Regular KL; }

.wrap {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  padding: 15px; }

#main {
  height: 100vh; }
  #main .main-txt {
    width: 115px;
    float: left; }
  #main .main-box {
    float: left;
    width: calc(100% - 115px); }
